<div class="side_cover">
    <div class="logo_col">
        <a href="#"><img src="../assets/images/logo.svg" alt="Tactic"></a>
    </div>
    <ul>
        <li class="active"><a href="#"><i><img src="../assets/images/overview.svg" alt="Overview"></i>Overview</a></li>
        <li><a href="#"><i><img src="../assets/images/analytics.svg" alt="Analytics"></i>Analytics</a></li>
        <li><a href="#"><i><img src="../assets/images/capacity.svg" alt="Capacity"></i>Capacity</a></li>
        <li><a href="#"><i><img src="../assets/images/demand.svg" alt="Demand"></i>Demand</a></li>
        <li><a href="#"><i><img src="../assets/images/rule_editor.svg" alt="Rule Editor"></i>Rule Editor</a></li>
        <li><a href="#"><i><img src="../assets/images/data_mgmt.svg" alt="Data Mgmt"></i>Data Mgmt</a></li>
        <li><a href="#"><i><img src="../assets/images/logout.svg" alt="Logout"></i>Logout</a></li>
    </ul>
</div>