<div class="dashbord_wrap">
    <app-sidebar></app-sidebar>
    <div class="wrap_contanier">
        <div class="header_main">
            <div class="page_title">
                <h1>Overview</h1>
                <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</span>
            </div>
            <div class="right_nav">
                <div class="search_col">
                    <button><img src="../assets/images/search.svg" alt=""></button>
                </div>
                <div class="notif_col">
                    <button><img src="../assets/images/notification.svg" alt="Notification"></button>
                </div>
                <div class="user_nav">
                    <p><strong>John Doe</strong>johndoe@gmail.com</p>
                    <button><img src="../assets/images/user.jpg" alt="User"></button>
                </div>
            </div>
        </div>
        <div class="content_wrap">
            <div class="row">
                <div class="col-md-7 card_cover">
                    <div class="card_vew summary_card">
                        <h4>Summary</h4>
                        <ul>
                            <li>
                                <span>56</span>
                                <p>Total Trains</p>
                            </li>
                            <li>
                                <span>27</span>
                                <p>Running</p>
                            </li>
                            <li>
                                <span>29</span>
                                <p>Stopped</p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span>000</span>
                                <p>Total Trains</p>
                            </li>
                            <li>
                                <span>000</span>
                                <p>Total Trains</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5 card_cover">
                    <div class="card_vew orange_run">
                        <h4>Last Run</h4>
                        <ul>
                            <li>
                                <span>XX1234</span>
                                <p>Train ID</p>
                            </li>
                            <li>
                                <span>WAT</span>
                                <p>Origin</p>
                            </li>
                            <li>
                                <span>SOU</span>
                                <p>Dest</p>
                            </li>
                            <li>
                                <span>12 Dec 2020, 23:30</span>
                                <p>Dep Time</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-7 card_cover">
                    <div class="card_vew map_col">
                        <h4>All trains at a glance</h4>
                        <ul>
                            <li>Running</li>
                            <li>Stopped</li>
                        </ul>
                        <img src="../assets/images/map.png" alt="map">
                    </div>
                </div>
                <div class="col-md-5 card_cover">
                    <div class="card_vew today_col">
                        <h4>Today's Schedule</h4>
                        <p>31 Jan, 2020</p>
                        <div class="table_cover">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th>Train ID</th>
                                        <th>Origin</th>
                                        <th>DestINATION</th>
                                        <th>Dep Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><strong>XX1234</strong></td>
                                        <td>WAT</td>
                                        <td>SOU</td>
                                        <td>2020-05-12, 10:30</td>
                                    </tr>
                                    <tr>
                                        <td><strong>XX1234</strong></td>
                                        <td>WAT</td>
                                        <td>SOU</td>
                                        <td>2020-05-12, 10:30</td>
                                    </tr>
                                    <tr>
                                        <td><strong>XX1234</strong></td>
                                        <td>WAT</td>
                                        <td>SOU</td>
                                        <td>2020-05-12, 10:30</td>
                                    </tr>
                                    <tr>
                                        <td><strong>XX1234</strong></td>
                                        <td>WAT</td>
                                        <td>SOU</td>
                                        <td>2020-05-12, 10:30</td>
                                    </tr>
                                    <tr>
                                        <td><strong>XX1234</strong></td>
                                        <td>WAT</td>
                                        <td>SOU</td>
                                        <td>2020-05-12, 10:30</td>
                                    </tr>
                                    <tr>
                                        <td><strong>XX1234</strong></td>
                                        <td>WAT</td>
                                        <td>SOU</td>
                                        <td>2020-05-12, 10:30</td>
                                    </tr>
                                    <tr>
                                        <td><strong>XX1234</strong></td>
                                        <td>WAT</td>
                                        <td>SOU</td>
                                        <td>2020-05-12, 10:30</td>
                                    </tr>
                                    <tr>
                                        <td><strong>XX1234</strong></td>
                                        <td>WAT</td>
                                        <td>SOU</td>
                                        <td>2020-05-12, 10:30</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>